{:deps {clj-http/clj-http        {:mvn/version "3.12.3"}
        metasoarous/oz           {:mvn/version "2.0.0-alpha5"} ;; https://github.com/metasoarous/oz/issues/184
        org.apache.pdfbox/pdfbox {:mvn/version "2.0.25"}
        org.clojure/data.json    {:mvn/version "2.4.0"}}}
